@import "@/styles/_variables";
@import "@/styles/_mixins.scss";

.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: $primary;
    padding: 16px 0;
    @include xl {
        padding: 12px 0;
    }
}
.wrapper {
    display: flex;
    align-items: center;
}
.logo {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 100%;
    color: #fff;
    font-weight: 900;
    
    @include xl {
        font-size: 40px;
    }
    @include md {
        display: none;
    }
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background: 0 0;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 12px;
    margin-left: 20px;
    transition: border-color .3s ease 0s;
    
    &:hover {
        border-color: #fff;
    }
    
    @include xl {
        width: 45px;
        height: 45px;
    }
    @include md {
        display: none;
    }
}

.menuLine {
    width: 26px;
    height: 3px;
    position: relative;
    transition: background .3s ease 0s;
    display: block;
    background: #fff;
    border-radius: 3px;
    transform-origin: center left;
    
    @include xl {
        width: 20px;
    }
    &:after, &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        transform: rotate(0);
        transition: transform .3s ease 0s;
        display: block;
        background: #fff;
        border-radius: 3px;
        transform-origin: center left;
    }
    &:after {
        bottom: -9px;
    }
    &:before {
        top: -11px;
    }
}
.menu.open .menuLine{
    background: 0 0;
    &:before {
        top: -9px;
        transform: translateX(4px) translateZ(0) rotate(45deg);
    }
    &:after {
        bottom: -9px;
        transform: translateX(4px) translateZ(0) rotate(-45deg);
    }
}

.actions {
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    gap: 25px;
    svg {
        width: 25px;
        height: 24px;
        color: #fff;
        fill: #fff;
        transition: 0.3s;
        filter: brightness(95%);
    }

    

    @include md {
        display: none;
    }
}
.actionsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    transition: 0.3s;
    filter: brightness(95%);
    &:hover{
        filter: brightness(120%);
        
    }
}
.auth.disabled {
    pointer-events: none;
}
.profile {
    position: relative;
    &:hover .profileMenu {
        display: flex;
    }
    
}
.counter {
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    min-width: 16px;
    height: 16px;
    position: absolute;
    top: -6px;
    right: -2px;
    background: #fff;
    padding: 2px 3px 1px;
    border-radius: 16px;
}
.profileList {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 100%;
    position: relative;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profileMenu {
    width: 200px;
    left: 50%;
    z-index: 101;
    position: absolute;
    cursor: default;
    transform: translateX(-50%);
    display: none;
    padding-top: 12px;
    top: 100%;
}
.profileMenuItem {
    display: flex;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: #242424;
    font-size: 16px;
    line-height: 22px;
    transition: color .3s ease 0s;
    gap: 10px;
    svg {
        fill:none;
        stroke: #242424;
    }
    
    &:hover {
        color: $primary;
    }
    &:hover svg {
        stroke: $primary
    }
}
.logout {
    padding-top: 10px;
    border-top: 1px solid #9d9da5;
    color: #9d9da5;
    font-size: 16px;
}
