@import "@/styles/_variables";
@import "@/styles/_mixins.scss";

.nav {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    padding: 0 16px;
    
    @include md {
        display: flex;
    }
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navItem {
    position: relative;
    padding: 12px 0;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 30px;
        height: 30px;
        color: #D3D4DD;
        fill: #D3D4DD;
        transition: 0.3s;
    }
}
.navItem.active svg {
    color: $primary;
    fill: $primary;
}
.counter {
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    min-width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 30%;
    background: $primary;
    padding: 2px 3px 1px;
    border-radius: 16px;
    @include xs {
        right: 18%;
    }
}
