@import "@/styles/_variables";
@import "@/styles/_mixins.scss";

.nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include xs {
        margin-top: 10px;
    }
}
.navList {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
    @include md {
        gap: 25px;
    }
    @include xs {
        width: 100%;
        gap: 0;
    }
}
.navItem {
    display: flex;
    
    &:last-child .navLink {
        color: #9d9da5;
    }
}
.icon {
    width: 20px;
    height: 20px;
    display: block;
    
    svg {
        transition: 0.3s;
    }
    @include xs {
        display: none;
    }
}
.navLink {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #242424;
    transition: 0.3s;
    &:hover {
        color: $primary;
    }
    &:hover svg{
        stroke: $primary;
    }
    @include xs {
        padding: 0;
        font-size: 13px;
    }
}
.navLink.active {
    color: $primary;
   svg{
        stroke: $primary;
    }
}
