@import "@/styles/_variables";
@import "@/styles/_mixins.scss";

.refill {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    
    @include xs {
        width: 100%;
        padding: 10px;
    }
}
.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    @include xs {
        font-size: 20px;
    }
}
.wallet {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.paymentToggle {
    margin-top: 12px;
    display: flex;
    user-select: none;
}
.paymentItem {
    display: block;
    width: 50%;
    background: #f1f1f5;
    
    &:first-child {
        padding: 2px 0 2px 2px;
        border-radius: 10px 0 0 10px;
    }
    &:last-child {
        padding: 2px 2px 2px 0;
        border-radius: 0 10px 10px 0;
    }
    
    button {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 4px;
        color: #242424;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        display: block;
        width: 100%;
        border-radius: 8px;
    }
}
.paymentItem.active {
    
    & button {
        background-color: #fff;
    }
}
.walletInfo {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    
    div {
        font-size: 15px;
        font-weight: 500;
    }
}
.form {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.btn {
    margin-top: 10px;
}
