@import "@/styles/_variables";
@import "@/styles/_mixins.scss";
.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    transform: rotate(-90deg);
    z-index: 100;
    
    &:hover {
        background-color: #fff;
    }
    &:hover svg {
       color: $primary;
    }
    
    svg {
        transition: 0.3s ease;
    }
    
    @include md {
        bottom: 100px
    }
    @include xs {
        width: 30px;
        height: 30px;
        bottom: 70px;
        right: 10px;
    }
}

.scrollToTop.show {
    opacity: 1;
    visibility: visible;
}

.scrollToTop.main {
    
    @include md {
        bottom: 200px
    }
    @include xs {
        bottom: 170px;
    }
}
