$primary: hsl(346.8 77.2% 49.8%);
$text-muted: hsl(240 3.8% 46.1%);


$white: rgb(255, 255, 255);
$dark: rgb(18, 18, 18);
$dark-opacity: rgba(18, 18, 18, 0.9);
$white-opacity: rgba(255, 255, 255, 0.9);




