@import "@/styles/_variables";
@import "@/styles/_mixins.scss";


.search {
    position: relative;
    flex: 1;
    margin: 0 20px;
    
    @include md {
        margin: 0;
    }
    input {
        font-size: 18px;
        line-height: 24px;
        padding: 17px 100px 17px 20px;
        border-radius: 12px;
        color: #242424;
        width: 100%;
        background: #fff;
        white-space: nowrap;
        
        @include xl {
            padding: 14px 100px 14px 20px;
        }
        @include md {
            padding: 9px 80px 9px 12px;
        }
    }
    
    
}
.searchResult {
    position: absolute;
    z-index: 29;
    width: 100%;
    top: calc(100% + 8px);
    left: 0;
    overflow-y: auto;
    max-height: 650px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 16px 8px;
}
.searchResult.empty {
    height: 650px;
}
.resultItem {
    transition: background-color .3s ease 0s;
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    flex-grow: 1;
    
    overflow: hidden;
    cursor: pointer;
    &:hover {
        background-color: #f6f6f9;
    }
}
.resultLink {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 8px 12px 10px;
}
.icon {
    background-image: url("/svg/search.svg");
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-repeat: no-repeat;
}
.text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.skeleton {
    display: flex;
    flex-direction: column;
    gap: 8px;
    li  {
        height: 30px;
        width: 100%;
        background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite;
        border-radius: 4px;
    }
}
.loaderContainer {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
  
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
.notFound {
    display: flex;
    justify-content: center;
}
.clear {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 4px;
}
