@import "src/styles/variables";
@import "src/styles/mixins";

.breadCrumbs {
    margin-bottom: 20px;
    width: 1500px;
    
    @include xl {
        width: 1200px;
    }
}
.list {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    flex-wrap: wrap;
    color: #868695;
}
.item {
    display: flex;
    flex-shrink: 0;
    padding: 4px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    align-items: baseline;
    margin-right: 8px;
    
    a {
        font-size: 14px;
        line-height: 20px;
        border-bottom: 1px solid;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        color: #868695;
    }
    
    &:last-child a {
        border: none;
        pointer-events: none;
    }
    &:not(:last-child):after {
        content: "/";
        color: #c8c8d1;
        margin-left: 8px;
    }
    &:not(:last-child):hover a {
        color: #242424;
        border-color: #242424;
        
    }
}
