@import "@/styles/_variables";
@import "@/styles/_mixins.scss";

.menu {
    height: 100vh;
    
    @include md {
        height: calc(100vh - 50px);
    }
}
.menuList {
  padding: 20px;
  max-height: calc(100vh - 170px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.menuItemLink {
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 22px;
  color: #242424;
  
  &:hover {
    color: $primary;
  }
}
.title {
  padding: 20px;
  font-size: 25px;
  font-weight: 500;
    
    @include xs {
    
    }
}
