@import "src/styles/variables";
@import "src/styles/mixins";

.banner {
  height: 200px;
    
    @include lg-xl {
        display: none;
    }
}
.slider {
  height: 100%;
}
.slide {
  height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
