@import "@/styles/_variables";
@import "@/styles/_mixins.scss";

.filters {
  display: flex;
  align-items: center;
  gap: 20px;
    
    @include xs {
        gap: 0;
        justify-content: space-between;
    }
}
